// MAIN

.main-content {
    h2 {
        font-weight: 500;
    }
}

// BG SEPARATOR
.bg-separator-01,
.bg-separator-02 {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-separator-01 {
    background: url('../../img/main/bg-separator/image-bg-02.jpg');
}
.bg-separator-02 {
    background: url('../../img/main/bg-separator/image-bg-01.jpg');
}