// SLIDER SECTION

.slider-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 60px;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    color: palette(7);
    p {
        margin: 20px 0 65px;
    }
    .slider {
        position: relative;
        .slider-images {
            width: 900px;
            max-width: 100%;
        }
        .slider-nav {
            i {
                @include center('ab-y');
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 28px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                color: palette(2);
                background: #e74500;
                cursor: pointer;
                &.left {
                    left: -40px;
                }
                &.right {
                    right: -40px;
                }
            }
        }
    }
}
