// RESET

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: $base-font
}

// CONTAINER 

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

// TYPHOGRAPHY

a {
    text-decoration: none;
}

h2 {
    font-size: 36px;
}

// LIST

.v-list {
    list-style: none;
}

.h-list {
        display: flex;
        list-style: none;
}

// TEXT

.txt-left{
    text-align: left;
}

.txt-right{
    text-align: right;
}

.txt-center{
    text-align: center;
}

.txt-justify{
    text-align: justify;
}

// BUTTONS 

.btn {
    border: 1px solid transparent;
    color: palette(2);
    background: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 350ms;
    &.btn-blue {
        background: palette(1);
        &:hover {
            background: #28acff;
        }
    }
    &.btn-gray {
        background: palette(5);
        &:hover {
            background: rgba(palette(5), .8);
        }
    }
}

// IMAGES

.img-resp {
    width: 100%;
    height: auto;
}